@font-face {
  font-family: "MontSerrat Alternates Regular";
  src: url("./assets/fonts/MontserratAlternates-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "MontSerrat Alternates Semi Bold";
  src: url("./assets/fonts/MontserratAlternates-SemiBold.ttf")
    format("truetype");
}

@font-face {
  font-family: "MontSerrat Alternates Italic";
  src: url("./assets/fonts/MontserratAlternates-Italic.ttf") format("truetype");
}

body {
  font-family: "MontSerrat Alternates Regular", sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.todo-container {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#todo-list-container {
  margin-top: 20px;
}

#todo-list {
  list-style: none;
  padding: 0;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 8px;
}

#input-container {
  margin-top: 20px;
}

#task-input {
  padding: 8px;
  margin-right: 10px;
}

input {
  font-family: "MontSerrat Alternates Italic", sans-serif;
}

button {
  font-family: "MontSerrat Alternates Semi Bold", sans-serif;
  padding: 8px 16px;
  cursor: pointer;
}
